<div class="container">
    {{#each products}}
    <div class="product">
        <h4>{{title}}</h4>
        <img src="{{thumbnail}}" alt="imagen de {{title}}">
        <div class="product__info">
            <p>{{description}}</p>
            <p>Precio: {{price}}</p>
            <p>Stock: {{stock}}</p>
            <p>Código: {{code}}</p>
        </div>
    </div>
    {{/each}}
</div>