<div class="container">
    <h2>Productos</h2>

    <p class="margin">Página actual: {{products.page}}</p>
    <ul>
        {{#each products.payload}}
        <li>
            <div class="products">
                <h4>{{this.title}}</h4>
                <p>Precio: {{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>ID: {{this._id}}</p>
                <a href="http://localhost:8080/api/products/{{this._id}}">Ver</a>
            </div>
        </li>
        {{/each}}
    </ul>

    <div class="container">
        {{#if products.hasPrevPage}}
        <a href="{{products.prevLink}}">Anterior</a>
        {{/if}}

        {{#if products.hasNextPage}}
        <a href="{{products.nextLink}}">Siguiente</a>
        {{/if}}
    </div>
</div>