<div class="container margin">
    <h1>Hola {{user.firstName}} {{user.lastName}}</h1>
    <h3>Datos del perfil:</h3>
    <p>Edad: {{user.age}}</p>
    <p>Email: {{user.email}}</p>
    <p>Rol: {{user.rol}}</p>
    <div>
        <a href="/">Inicio</a>
        <a href="/documents">Actualizar Documentación</a>
    </div>
    {{#if documents}}
    <form action="/api/users/premium/{{user.id}}">
        <input type="submit" value="Actualizar Rol">
    </form>
    {{/if}}
</div>