<div class="container margin">
    <h1>Hola {{user.firstName}} {{user.lastName}}</h1>
    <h3>Datos del perfil:</h3>
    <p>Edad: {{user.age}}</p>
    <p>Email: {{user.email}}</p>
    <p>Rol: {{user.rol}}</p>
    <div>
        <a href="/users">Inicio</a>
        {{#if notAdminOptions}}
        <a href="/users/documents">Actualizar Documentación</a>
        {{/if}}
    </div>

    {{#if adminOptions}}
    <h3>Menú de administrador</h3>
    <a href="/users/getUsers">Ver todos los usuarios</a>
    {{/if}}
</div>