<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#each style}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
    <title>{{titlePage}}</title>
</head>

<body>
    <div class="navBar">
        <h1>Ecommerce</h1>
        <ul class="ul">
            {{#if isLoggedIn}}
            <li><a href="/products">Productos</a></li>
            <li><a href="/cart/{{cartId}}">Carrito</a></li>
            <li><a href="/createProduct">Crear Producto</a></li>
            <li><a href="/users">Sesión</a></li>
            {{/if}}
        </ul>
        {{#if isNotLoggedIn}}
        <ul class="ul">
            <li><a href="/products">Productos</a></li>
            <li><a href="/users">Sesión</a></li>
        </ul>
        {{/if}}
    </div>
    {{{body}}}

    {{#if useWS}}
    <script src="/socket.io/socket.io.js"></script>
    {{/if}}

    {{!-- jquery --}}
    {{!--
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> --}}

    {{!-- incluir librería sweetalert si es necesario --}}
    {{#if useSweetAlert }}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{/if}}

    {{#each script}}
    <script src="/js/{{this}}"></script>
    {{/each}}
</body>

</html>